.wavesright {
    border: 2px solid black;
    width: 450px;
    height: 630px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}

.wavesright_heading {
    font-size: 25px;
}

@media screen and (max-width:760px) {
    .wavesright {
        display: none;
    }
}