.vertical {
    display: flex;
    justify-content: space-between;
}

.vertical_left {
    width: 800px;
    height: 635px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.vertical_left_img {
    object-fit: cover;
    width: 944px;
    height: 550px;
    border-radius: 5px;
}

.vertical_left_img img {
    width: 100%;
    height: 100%;
}

.vertical_right {
    margin-top: -330px;
}

@media screen and (max-width:760px) {
    .vertical {
        flex-direction: column;
        width: 100%;
        height: auto;
    }

    .vertical_left {
        width: 100%;
        height: auto;
    }

    .vertical_left_img {
        width: 100%;
        height: 100%;
    }

    .vertical_left_img img {
        width: 100%;
        height: 100%;
    }

    .vertical_right {
        margin: 0;
        width: 100%;
        height: 100%;
    }
}