* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.blog {
    display: flex;
    justify-content: flex-start;

}

.blog_icons {
    position: fixed;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-left: 90px;
    margin-top: 100px;
    z-index: -1;
}

.blog_right {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    margin: 25px;
}

.blog_right_heading {

    width: 600px;
    font-size: 25px;
    font-weight: 600;
}

.rythm {
    display: flex;
    justify-content: center;
    align-items: center;
}

.rythm span {
    padding: 0px 35px;
}

.share {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 33px;
}

.share span {
    padding: 0px 35px;
}

.social_icons {
    display: flex;
}

.social_icons img {
    height: 20px;
    width: 20px;
}

.face_data_div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 600px;
}

.react_img {
    width: 600px;
    height: 450px;
    object-fit: cover;
}

.react_img img {
    width: 100%;
    height: 100%;


}

.react_content {
    margin: 35px 0px;
    font-weight: 500;
    width: 600px;
}



.code_img {
    width: 600px;
    height: 450px;
    object-fit: cover;
}

.code_img img {
    width: 100%;
    height: 100%
}

.face_data_parent {
    width: 600px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    border-top: 3px solid #f0f0f0;
    border-bottom: 3px solid #f0f0f0;
}

.rythm_div {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 600px;
    margin: 25px 0px;

}

.blog_bottom_heading {
    display: flex;
    justify-content: flex-start;
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 25px;
}

.blog_bottom_div_parent {
    display: flex;
    justify-content: space-between;
    border-top: 3px solid #f0f0f0;
}

.blog_bottom {
    background-color: #fff;
}

.header_2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 75px;

}

.header_2 div {
    display: flex;
    width: 100%;
}

.header_2 span {
    font-size: 20px;
    font-weight: 400;
    transform: rotate(270deg);

}

.header_2 button {
    padding: 10px;
    border: 1px solid #03A87C;
    background: transparent;
    color: #03A87C;
    font-weight: 600;
    width: 120px;
}


@media screen and (max-width:760px) {
    .header_2 {

        width: 100%
    }

    .blog_icons {
        display: none;
    }

    .blog_right_heading, .react_content, .react_content_1 {
        width: 100%;
        margin: 0;

    }

    .blog_right_heading {
        margin-top: 20px;
        font-size: 20px;
        text-align: center;
    }

    .blog_right {
        margin: 0;
    }

    .react_img, .code_img {
        width: 100%;
        height: 100%;

    }

    .react_img img, .code_img img {
        width: 100%;
        height: auto;
        margin-top: 10px;
    }

    .face_data_div {
        width: 100%;
        height: 100%;
    }

    .rythm_div {
        width: 100%;
        height: 100%;
    }

    .face_data_parent {
        width: 100%;
        height: 100%;
    }

    div.header_2 {
        width: 100%;

    }

    .react_content_1 p {
        margin: 15px 0;
    }
}